.container {
  background-color: orange;
  display: flex;
  margin: 10px;
  background-image: url('http://p1.pichost.me/i/66/1903434.jpg');
}

.col {
  background-color: orange;
  /*opacity: 0.7;*/
  display: flex;
  flex-direction: column;
  width: 100px;
}

.row {
  border: 1px solid orange;
  height: 100px;
}

.p1 {
  color: red;
  font-family: 'Press Start 2P', cursive;
  /*padding-left: 100px;*/
}

.p2 {
  color: black;
  font-family: 'Press Start 2P', cursive;
  /*padding-left: 100px;*/
}

.hide {
  display: none;
}

/*.click_counter {
  font-family: 'Press Start 2P', cursive;
  padding-left: 310px;
  padding-top: 30px;
}*/

img {
  box-shadow: 20px 20px 30px 20px rgba(0,0,0,0.55);
}

.col > div {
  border-radius: 100%;
  background-color: white;
  padding: 5px;
}

.logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.logo > img {
  margin: 50px auto;
}
