<div class="container">

  <div class="col" id="x1" z='6'>
    <div class="row y1 empty"></div>
    <div class="row y2 empty"></div>
    <div class="row y3 empty"></div>
    <div class="row y4 empty"></div>
    <div class="row y5 empty"></div>
    <div class="row y6 empty"></div>
  </div>

  <div class="col" id="x2" z='6'>
    <div class="row y1 empty"></div>
    <div class="row y2 empty"></div>
    <div class="row y3 empty"></div>
    <div class="row y4 empty"></div>
    <div class="row y5 empty"></div>
    <div class="row y6 empty"></div>
  </div>

  <div class="col" id="x3" z='6'>
    <div class="row y1 empty"></div>
    <div class="row y2 empty"></div>
    <div class="row y3 empty"></div>
    <div class="row y4 empty"></div>
    <div class="row y5 empty"></div>
    <div class="row y6 empty"></div>
  </div>

  <div class="col" id="x4" z='6'>
    <div class="row y1 empty"></div>
    <div class="row y2 empty"></div>
    <div class="row y3 empty"></div>
    <div class="row y4 empty"></div>
    <div class="row y5 empty"></div>
    <div class="row y6 empty"></div>
  </div>

  <div class="col" id="x5" z='6'>
    <div class="row y1 empty"></div>
    <div class="row y2 empty"></div>
    <div class="row y3 empty"></div>
    <div class="row y4 empty"></div>
    <div class="row y5 empty"></div>
    <div class="row y6 empty"></div>
  </div>

  <div class="col" id="x6" z='6'>
    <div class="row y1 empty"></div>
    <div class="row y2 empty"></div>
    <div class="row y3 empty"></div>
    <div class="row y4 empty"></div>
    <div class="row y5 empty"></div>
    <div class="row y6 empty"></div>
  </div>

  <div class="col" id="x7" z='6'>
    <div class="row y1 empty"></div>
    <div class="row y2 empty"></div>
    <div class="row y3 empty"></div>
    <div class="row y4 empty"></div>
    <div class="row y5 empty"></div>
    <div class="row y6 empty"></div>
  </div>



  <div class="logo">
    <img src="http://i.imgur.com/qsi5LxR.jpg">
    <h1 class='p1'>Player One Go!</h1>
    <h1 class='p2 hide'>Player Two Go!</h1>
    <!-- <h2 class='click_counter'>1</h2> -->
  </div>

</div>
